<div class="container">
    <h1>{{school.team}}</h1>
    <div class="col-12">
        <img class="img-thumbnail" src="{{school.image-url}}" alt="{{school.team}} image">
    </div>
    <p><a style='text-decoration:none;color:whitesmoke' href="..">Return to Home</a></p>
</div>
